/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */



/*** Panel and outer controls ***/

#downloadsPanel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

#downloadsListBox {
  background: transparent;
  padding: 4px;
  color: inherit;
}

#downloadsPanel:not([hasdownloads]) > #downloadsListBox {
  display: none;
}

#downloadsPanel[hasdownloads] > #emptyDownloads {
  display: none;
}

#emptyDownloads {
  padding: 10px 20px;
  max-width: 40ch;
}

#downloadsSummary {
  padding: 8px 38px 8px 12px;
  cursor: pointer;
  -moz-user-focus: normal;
}

#downloadsSummary > .downloadTypeIcon {
  list-style-image: url("chrome://browser/skin/downloads/download-summary.png");
}


#downloadsSummaryDescription {
  color: -moz-nativehyperlinktext;
}

#downloadsHistory {
  background: transparent;
  cursor: pointer;
}

#downloadsHistory > .button-box {
  margin: 1em;
}

/*** List items and similar elements in the summary ***/

#downloadsSummary,
richlistitem[type="download"] {
  height: var(--downloads-item-height);
  -moz-padding-end: 0;
  color: inherit;
}

richlistitem[type="download"] {
  margin: 0;
  border-top: 1px solid var(--downloads-item-border-top-color);
  border-bottom: 1px solid var(--downloads-item-border-bottom-color);
  background: transparent;
  padding: 8px;
}

richlistitem[type="download"]:first-child {
  border-top: 1px solid transparent;
}

richlistitem[type="download"]:last-child {
  border-bottom: 1px solid transparent;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  /* Prevent flickering when changing states. */
  height: 32px;
  width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

/* We hold .downloadTarget, .downloadProgress and .downloadDetails inside of
   a vbox with class .downloadContainer. We set the font-size of the entire
   container to --downloads-item-font-size-factor because:

   1) This is the size that we want .downloadDetails to be
   2) The container's width is set by localizers by &downloadDetails.width;,
      which is a ch unit. Since this is the value that should control the
      panel width, we apply it to the outer container to constrain
      .downloadTarget and .downloadProgress.

   Finally, since we want .downloadTarget's font-size to be at 100% of the
   font-size of .downloadContainer's parent, we use calc to go from the
   smaller font-size back to the original font-size.
 */
#downloadsSummaryDetails,
.downloadContainer {
  font-size: calc(100% * var(--downloads-item-font-size-factor));
}

#downloadsSummaryDescription,
.downloadTarget {
  margin-bottom: var(--downloads-item-target-margin-bottom);
  cursor: inherit;
}

.downloadTarget {
  font-size: calc(100% / var(--downloads-item-font-size-factor));
}

#downloadsSummaryDetails,
.downloadDetails {
  margin-top: var(--downloads-item-details-margin-top);
  opacity: var(--downloads-item-details-opacity);
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
}

.downloadButton > .button-box {
  padding: 0;
}

/*** Panel and outer controls ***/

#downloadsFooter {
  border-top: 1px solid ThreeDShadow;
  background-image: linear-gradient(hsla(0,0%,0%,.15), hsla(0,0%,0%,.08) 6px);
}

#downloadsHistory {
  color: -moz-nativehyperlinktext;
}

#downloadsPanel[keyfocus] #downloadsSummary:focus,
#downloadsPanel[keyfocus] #downloadsHistory:focus > .button-box {
  outline: 1px -moz-dialogtext dotted;
}

#downloadsPanel[keyfocus] #downloadsSummary:focus {
  outline-offset: -5px;
}

/*** List items and similar elements in the summary ***/

:root {
  --downloads-item-height: 6em;
  --downloads-item-border-top-color: hsla(0,0%,100%,.2);
  --downloads-item-border-bottom-color: hsla(0,0%,0%,.15);
  --downloads-item-font-size-factor: 0.9;
  --downloads-item-target-margin-bottom: 7px;
  --downloads-item-details-margin-top: 1px;
  --downloads-item-details-opacity: 0.6;
}

.blockedIcon {
  list-style-image: url("moz-icon://stock/gtk-dialog-error?size=32");
}

richlistitem[type="download"][verdict="PotentiallyUnwanted"] .blockedIcon {
  list-style-image: url("moz-icon://stock/gtk-dialog-warning?size=32");
}

richlistitem[type="download"][verdict="Uncommon"] .blockedIcon {
  list-style-image: url("moz-icon://stock/gtk-dialog-info?size=32");
}

.downloadButton:focus > .button-box {
  outline: 1px -moz-dialogtext dotted;
}

/*** Highlighted list items ***/

#downloadsPanel[keyfocus] #downloadsListBox:focus > richlistitem[type="download"][selected] {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -1px;
}

#downloadsPanel:not([keyfocus]) richlistitem[type="download"][state="1"][exists]:hover {
  border-radius: 3px;
  border-top: 1px solid hsla(0,0%,100%,.3);
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  background-color: Highlight;
  background-image: linear-gradient(hsla(0,0%,100%,.1), transparent);
  color: HighlightText;
  cursor: pointer;
}

/*** Button icons ***/

.downloadButton.downloadIconCancel {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
richlistitem[type="download"]:hover .downloadButton.downloadIconCancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
richlistitem[type="download"]:hover .downloadButton.downloadIconCancel:hover {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
richlistitem[type="download"]:hover .downloadButton.downloadIconCancel:active {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.downloadButton.downloadIconShow {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
richlistitem[type="download"]:not([state="1"]):hover .downloadButton.downloadIconShow {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
richlistitem[type="download"]:not([state="1"]):hover .downloadButton.downloadIconShow:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
richlistitem[type="download"]:not([state="1"]):hover .downloadButton.downloadIconShow:active {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}
#downloadsPanel:not([keyfocus]) richlistitem[type="download"][state="1"]:hover .downloadButton.downloadIconShow {
  -moz-image-region: rect(16px, 96px, 32px, 80px);
}
#downloadsPanel:not([keyfocus]) richlistitem[type="download"][state="1"]:hover .downloadButton.downloadIconShow:hover {
  -moz-image-region: rect(16px, 112px, 32px, 96px);
}
#downloadsPanel:not([keyfocus]) richlistitem[type="download"][state="1"]:hover .downloadButton.downloadIconShow:active {
  -moz-image-region: rect(16px, 128px, 32px, 112px);
}

.downloadButton.downloadIconRetry {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
richlistitem[type="download"]:hover .downloadButton.downloadIconRetry {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
richlistitem[type="download"]:hover .downloadButton.downloadIconRetry:hover {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
richlistitem[type="download"]:hover .downloadButton.downloadIconRetry:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}
